/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/****************************** MY CODE ******************************/

/**** BODY ****/
html {
  scroll-behavior: smooth;
}

body{
  background-image: url("images/bg3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/**** HEADER-LEFT CONTAINER ****/
section.header-left{
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
/**** BRAND NAME ****/
.brand-container{
  color: white;
  margin-top: 0;
}
@font-face{
  src: url("fonts/Montserrat Font/Montserrat-Light.ttf");
  font-family: monlight;
}
.brand-container h2.brand-name .a-h2-link{
  width: fit-content;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  margin-top: 20px;
  font-family: monlight;
}
.brand-container h2 span.firstname{
  opacity: 0.6;
  font-weight: lighter;
}
.brand-container p{
  text-align: center;
  font-family: monlight;
  font-size: 13px;
  line-height: 35px;
}
/**** LINKS ****/
.links-container ul{
  width: fit-content;
  margin: 5px auto 10px auto;
  display: block;
  font-family: monlight;
  font-size: 13px;
}
.links-container ul li{
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
}
.links-container ul li a{
  text-align: center;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  /*DEFAULT*/
  transition: all.5s;
}
.links-container ul li a:hover{
  opacity: 0.5;
  /*DEFAULT*/
  transition: all.5s;
}
.links-container .a-cv{
  display: none;
}
.sm-container p.sm{
  display: none;
}
.cv-container{
  display: none;
}
@media only screen and (min-width: 1000px){
/**** HEADER-LEFT CONTAINER ****/
section.header-left{
  /*
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  */
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/**** WRAPPER ****/
section.header-left .header-wrapper{
  overflow: hidden;
  max-width: 1920px;
  background: rgba(0, 0, 0, 0.0);
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/**** BRAND NAME ****/
.brand-container h2.brand-name .a-h2-link{
  border: none;
  margin-top: 20px;
  border-right: 2px solid white;
  padding: 20px 70px 20px 30px;
  display: block;
}
/**** LINKS ****/
.links-container ul{
  width: fit-content;
  margin-top: 0;
  margin-right: 105px;
}
.links-container ul li{
  display: inline-block;
  font-size: 15px;
  float: left;
}
.links-container ul li a{
  display: block;
  padding: 35px 20px 35px 20px;
  /*DEFAULT*/
  transition: all.5s;
}
.links-container ul li a:hover{
  opacity: 0.4;
  /*DEFAULT*/
  transition: all.5s;
}
/***
.links-container .a-cv{
  display: block;
  text-align: center;
  border: 1px solid white;
  margin-top: 50px;
****/
  /*DEFAULT
  transition: all.5s;
}
.links-container .a-cv:hover{
  background-color: #3d3d3d;
  /*DEFAULT
  transition: all.5s;
}
/**** Social Media Icons
  float: left;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 50px;
}
/**** Copyright Container
.copyright-container p{
  color: white;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  font-family: monlight;
  font-size: 12px;
  opacity: 0.7;
}****/
}
/**** MAIN ****/
main {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.wrapper{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  margin: 50px 0px 30px 0px;
}
section.gallery{
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
  margin: 0px 10px 100px 10px;
  border-radius: 10px;
  box-shadow: 10px 20px 25px black;  DEKSIA KATW THOLOURA XRWMA
}
section.gallery .gallery-image{
  flex-basis: 90%;
  margin: 10px;
}
.gallery-image img{
  width: 100%;
  border-radius: 10px;
}
@media only screen and (min-width: 800px){
  section.gallery{
    width: 700px;
    margin: 0 auto 100px;;
  }
}
@media only screen and (min-width: 1000px){
  section.gallery{
    width: 1300px;
    margin: 0 auto 100px;;
  }
  section.gallery .gallery-image{
    flex-basis: 600px;
  }
}
/**** FOOTER ****/
footer{
  height: 200px;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.9);
  overflow: hidden;
}
footer p{
  margin-top: 60px;
  text-align: center;
}
footer .copyright-footer{
  color: white;
  width: 100%;
  bottom: 30px;
  text-align: center;
  font-family: monlight;
  font-size: 12px;
}
/**** SOCIAL MEDIA ICONS ****/
a.fa {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  /*DEFAULT*/
  transition: all.5s;
}
.fa:hover {
    transform: translateY(-3px);
    color: rgba(0, 0, 0, 0.7);
    /*DEFAULT*/
    transition: all.5s;
}
.fa:visited{
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-github{
  color: white;
}
